@{
    ViewData["Title"] = "Sign Up";
}

<div class="text-center">
    <h1 class="display-4">Sign Up</h1>
    <form action="/Account/Login" method="post">
        <div>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required/>
        </div>
        <div>
            <label for="passord">Password:</label>
            <input type="password" id="passord" name="password" required />
        </div>
        <button type="submit">Login</button>
    </form>
</div>
